<h1><%=title %></h1>
<div ng-controller="inOutCtrl">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Incoming Shipments</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr ng-repeat="order in incomingOrders">
          <td>{{ order.ingredient.name }}</td>
          <td>{{ order.quantity}} {{ order.units }}</td>
          <td> {{ order.vendor.company }} </td>
          <td> {{ order.shipping.shipper }} </td>
          <td> {{ order.shipping.trackingNumber }} </td>
          <td>
              <button class="btn btn-md btn-primary" ng-click="shipmentReceived('order', order)">Received</button>
          </td>
        </tr>
      </table>

    </div>
  </div>

  <!-- Add Batch Form-->
  <div class="add-new">
    <a ng-click="toggleForm(hideForm)"><i ng-class='{"fa fa-plus":hideForm, "fa fa-minus": !hideForm}' aria-hidden="true"></i>
      add new batch</a>
  </div>
  <div id="" ng-hide="hideForm">

    <form ng-submit="submit()" class="add-new-form form-inline">
      <!--<input type="text" name="password" placeholder="password" ng-model="newUser.password" class="form-control"/>-->
      <select ng-options="ingredient._id as ingredient.name for ingredient in ingredients"
              ng-model="batch.ingredient" class="form-control" required name="ingredient">
        <option></option>
      </select>
      <input type="number" name="quantity" placeholder="quantity" ng-model="batch.quantity" class="form-control" required/>
      <select name="unit" ng-options="unit.value as unit.name for unit in units" ng-model="batch.units" class="form-control" required>
        <option></option>
      </select>
      <input type="submit" value="Add Batch" class="btn btn-sm btn-primary"/>
    </form>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Outgoing Shipments</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr ng-repeat="batch in batches">
          <td>{{ batch.ingredient.name }}</td>
          <td>{{ batch.quantity}} {{ batch.units }}</td>
          <td>Submitted By: {{batch.createdBy.username}}</td>
          <td>
            <button class="btn btn-md btn-primary" ng-click="shipmentReceived('batch', batch)">Received</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-class="{blackout:!hidePopup}">
    <div class="panel-warning confirm-popup" ng-hide="hidePopup">
      <div class="panel-heading">
        <a ng-click="togglePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
      <div class="panel-body">
        <h5>Are you sure this order was received? </h5>
        <button class="btn btn-warning" ng-click="confirmShipment()">Confirm</button>
      </div>
    </div>
  </div>
</div>