<div class="h2">Orders</div>
<div ng-controller="ordersCtrl">
    <table class="table">
        <thead>
        <th>Quantity</th>
        <th>Total</th>
        <th>Vendor</th>
        <th>Placed By</th>
        <th>Order Date</th>
        <th>Shipper</th>
        <th>Tracking Id</th>
        </thead>
        <tr ng-repeat="order in orders">
            <td>{{order.quantity}} {{order.unit}}</td>
            <td>${{order.ingredientTotalCost}}</td>
            <td>{{order.vendor}}</td>
            <td>{{order.placedBy}}</td>
            <td>{{order.date}}</td>
            <td>{{order.shipping.shipper}}</td>
            <td>{{order.shipping.trackingNumber}}</td>
        </tr>
    </table>


    <h3>Place Order</h3>
    <form action="/orders" role="form">
        <div class="form-group">
            <select
                    ng-options="ingredient as ingredient.name for ingredient in ingredients track by ingredient.name"
                    ng-model="selected"></select>

        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="$ Total Cost">
            <input type="number" min="0" class="form-control" placeholder="Quantity">
            <input type="text" class="form-control" placeholder="Units">
            <input type="text" class="form-control" placeholder="Vendor">
        </div>
    </form>

</div>
<!--End of Controller Scope-->

<!--<h4>Shipping</h4>-->
<!--<div class="form-group form-inline">-->
<!--<input type="text" class="form-control" placeholder="Shipper">-->
<!--<input type="text" class="form-control" placeholder="Tracking">-->

<!--</div>-->

<!--<h4>Fulfillment</h4>-->
<!--<div class="form-group form-inline">-->
<!--<input type="text" class="form-control" placeholder="">-->
<!--<input type="text" class="form-control" placeholder="">-->
<!--<input type="text" class="form-control" placeholder="S">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="">-->
<!--</div>-->
<!--</form>-->