<div>
  <h1>Reports</h1>
  <h4>Search Orders</h4>
  <label>Start Date</label>
  <input type="date" class="input-sm" name="startDate">
  <label>End Date</label>
  <input type="date" class="input-sm" name="endDate">
  <input type="text" class="input-sm" name="orderId" placeholder="order id">
  <input
  <button ng-click="">Submit</button>
</div>