
<div ng-controller="vendorsCtrl">
  <div class="delete">
     <a ng-click="toggleDelete()" ng-hide="deleteMode"><i class="fa fa-trash" aria-hidden="true"></i> Delete Vendor</a>
     <a ng-click="toggleDelete()" ng-hide="!deleteMode" class="cancel">Cancel</a>
  </div>

    <h1>Vendors</h1>

    <div class="add-new">
        <a ng-click="toggleForm(hideForm)"><i ng-class='{"fa fa-plus":hideForm, "fa fa-minus": !hideForm}' aria-hidden="true"></i>
            add vendors</a>
    <div  ng-hide="hideForm">
        <form ng-submit="submit()" class="add-new-form form-inline">
            <input type="text" name="name" placeholder="company name" ng-model="company.name" class="form-control" required/>
            <input type="test" name="primary contact" placeholder="primary contact" ng-model="vendors.contact" class="form-control" required/>
            <input type="text" name="phone" placeholder="phone" ng-model="vendors.phone" class="form-control" required/>
            <input type="text" name="email" placeholder="email" ng-model="vendors.email" class="form-control" required/>
            <input type="text" name="address" placeholder="address" ng-model="vendors.address" class="form-control" required/>
            <input type="text" name="billing address" placeholder="billing_address" ng-model="vendors.billing_address" class="form-control" required/>
            <input type="text" name="orders" placeholder="orders" ng-model="vendors.orders" class="form-control" required/>
            <input type="text" name="notes" placeholder="notes" ng-model="vendors.note" class="form-control" required/>

            <input type="submit" value="Add New Vendor" class="btn btn-sm btn-primary"/>
        </form>
    </div>
    <table class="crm-table table" >
        <thead>
        <th>Name</th>
        <th>Primary contact</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Billing address</th>
        <th>Orders</th>
        <th>Notes</th>
        <th ng-hide="deleteMode">Edit</th>
        <th ng-hide="!deleteMode">Delete</th>
        </thead>
        <tr ng-repeat="vendor in vendors">
            <td>
                <input type="text" name="name" value="{{ company.name }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="company.name" required>
            </td>
            <td>
                <input type="text" name="primary contact" value="{{ vendors.contact }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="vendors.contact" required>
            </td>
            <td>
                <input type="text" name="phone" value="{{ vendors.phone }}" ng-disabled="!isEditable[$index]"
                        class="input-sm" ng-model="vendors.phone" required>
            </td>
            <td>
                <input type="text" name="email" value="{{ vendors.email }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="vendors.email" required>
            </td>
            <td>
                <input type="text" name="address" value="{{ address.name }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="address.name" required>
            </td>
            <td>
                <input type="text" name="billing address" value="{{ vendors.billing_address }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="vendors.billing_address" required>
            </td>
            <td>
                <input type="text" name="orders" value="{{ vendors.orders }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="vendors.orders" required>
            </td>
            <td>
                <input type="text" name="notes" value="{{ vendors.notes }}" ng-disabled="!isEditable[$index]"
                       class="input-sm" ng-model="vendors.note" required>
            </td>


            <td ng-hide="deleteMode">
                <a ng-click="editVendor($index, vendor)" ng-hide="isEditable[$index]" class="edit-icon"><i class="fa fa-pencil"></i></a>
                <a ng-hide="!isEditable[$index]" ng-click="cancel($index)" class=""><i class="fa fa-times"
                                                                                       aria-hidden="true"></i></a>
                <a ng-click="saveEdits(vendor)" ng-hide="!isEditable[$index]"><i class="fa fa-floppy-o"
                                                                                     aria-hidden="true"></i></a>
            </td>
            <td ng-hide="!deleteMode">
                <a ng-click="deleteVendor(vendor)" class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tr>
    </table>

    <div ng-class="{blackout:!hidePopup}">
        <div class="panel-warning confirm-popup" ng-hide="hidePopup">
            <div class="panel-heading">
                <a ng-click="togglePopup()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <div class="panel-body">
                <h5>Are you sure you want to delete this vendor? </h5>
                <button class="btn btn-warning" ng-click="confirmDelete()">Confirm</button>
            </div>
        </div>
    </div>
</div>