body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.form-signin {
    width: 350px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #00B7FF;
    border-color: #00B7FF;
}

#user-logout {
    color: #9d9d9d;
}

#user-logout a {
    padding: 0px;
    color: #00B7FF;
    text-decoration: underline;
}

.edit-icon {
    color: #00B7FF;
}

.confirm-popup {
    position: absolute;
    top: 30%;
    left: 35%;
    right: 35%;
    width: 300px;
    height: 150px;
    z-index: 1000;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
}

.confirm-popup .close {
    margin-top: -8px;
}

.confirm-popup .btn {
    margin-left: 33%;
}

.blackout {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.add-new-form {
    margin: 45px 0;
}

.crm-table.table > tbody > tr > td, .crm-table.table > tbody > tr > th {
    padding: 20px 15px;
}
.crm-table .input-sm, .crm-table .input-md, .crm-table .input-lg, .crm-table textarea {
    border: none;
    border-bottom: 3px solid #DDD;
    outline: none;
    background: transparent;
}
.crm-table .input-sm:focus, .crm-table .input-md:focus, .crm-table .input-lg:focus{
    border-bottom: 3px solid #00B7FF;
    background: transparent;
}
.crm-table .user {
    display:block;
    margin-bottom: 10px;
}
.crm-table input[disabled], .crm-table select[disabled] {
    border: none;
}
.user-field {
    margin: 10px 0;
}
.user-field select {
    width: 120px;
    display:inline;
}

.delete {
    text-align:right;
    margin-top: 10px;
}
.delete-icon {
    color: #a94442
}
.add-new {
    margin-bottom: 20px;
    cursor:pointer;
}
.cancel {
    color: #f0ad4e;
}

.form-control .md {
    width: 50%;
}

.form-control .sm {
    width: 25%;
}

.notes .fa {
    vertical-align: top;
}

.notes textarea {
    height: 240px;
}

.order-qty-input {
    width: 70px;
}

.order-details {
    margin-bottom: 10px;
}
.order-details span {
    font-size: 12px;
}
.order-details label {
    width: 100px;
    font-weight: lighter;
    color: #999;
    font-size: 10px;
}
.order-details select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    padding: 1px;
    text-overflow: '';
}

.no-padding {
    padding: 0px;
}
